<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<springProfile name="dev">
		<logger name="com.wiley.internal.apps" level="DEBUG"
			additivity="false">
			<appender name="FILE"
				class="ch.qos.logback.core.FileAppender">
				<!-- Here we can refer to the variable defined at the resource1.properties -->
				<file>${USER_HOME}/skill-matrix.log</file>
				<encoder>
					<pattern>%msg%n</pattern>
				</encoder>
			</appender>
			<appender-ref ref="FILE" />
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
	<springProfile name="production">
		<logger name="com.wiley.internal.apps" level="WARN"
			additivity="false">
			<appender name="FILE"
				class="ch.qos.logback.core.FileAppender">
				<!-- Here we can refer to the variable defined at the resource1.properties -->
				<file>${USER_HOME}/skill-matrix.log</file>
				<encoder>
					<pattern>%msg%n</pattern>
				</encoder>
			</appender>
			<appender-ref ref="FILE" />
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
</configuration>